<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <title>Mi primer html</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    
 <header>
    <picture class="logo">
        <img src="images/logo-mercado-liebre.svg" alt="logomercadoliebre">
    </picture>
    <section class= "barraDeBusqueda">
        <input type="text" > <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
    </section>
    

    <section class="eslogan">
        <h2 id="cuotasetc"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
    </section>

    <nav class="menus">
         <a href="http://">Ofertas</a>
         <a href="http://">Tiendas Oficiales</a>
         <a href="http://">Vender</a>
         <a href="http://">Ayuda</a>
        </nav>
        <nav class="miCuenta">
         <a href="http://">Creá tu cuenta<i class="fa-solid fa-clipboard-user"></i></a>  
         <a href="http://">Ingresá<i class="fa-solid fa-id-card"></i></a>  
         <a href="http://">Mis compras<i class="fa-solid fa-shop"></i></a> 
    </nav>
    <nav class="barraDesplegable">
        <i class="fa-solid fa-bars"></i>
    </nav>
    </header>

 <picture class="banner">
    <img src="images/img-home-banner.jpg" alt="home-banner">
</picture>

 <main>
    <section>
    <h1 id="ultimaVista">Basado en tu ultima vista.</h1>
    <div class="article-container">
    <article class="caf"> 
        <picture>
            <img width="300px" height="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"> 
         </picture>
         <div class="product">
         <div class="envio-icon">
         <i class="fa-solid fa-truck-fast"></i>
        </div>
        <h4>$6.770</h4>
        <h5>40% OFF</h5>
        <h6>Cafetera Moulinex</h6>
        </div>
    </article>
    </div>

    <div class="article-container">
    <article class="macbook-pro-2019">
        <picture>
        <img width="300px" height="300px" src="images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
        </picture>
        <div class="product">
        <div class="envio-icon">
            <i class="fa-solid fa-truck-fast"></i>
        </div>
        <h4>$230.000</h4>
        <h5>20% OFF</h5>
        <h6>Mackbook Pro 2019</h6>
    </div>
</article>
</div>

<div class="article-container">
    <article class="samsung-galaxy">
       <picture>
            <img width="300px" height="300px" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
        </picture>
        <div class="product">
        <div class="envio-icon">
            <i class="fa-solid fa-truck-fast"></i>
           </div>
        <h4>$70.500</h4>
        <h5>10% OFF</h5>
        <h6>Samsung Galaxy s10</h6>
           </div>
    </article>
</div>

    <div class="article-container">
    <article class="smart-tv-samsung">
        <picture>
            <img width="300px" height="300px" src="images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung">
        </picture>
        <div class="product">
        <div class="envio-icon">
            <i class="fa-solid fa-truck-fast"></i>
           </div>
        <h4>$23.200</h4>
        <h5>5% OFF</h5>
        <h6>Smart TV Samsung 43"</h6>
           </div>
    </article>
            </div>
    </section>

    <section>
        <h1 id="ofertas">Sección de Ofertas</h1>
        <div class="article-container">
        <article class="cafetera-off">
            <picture>
                <img width="300px" height="300px" src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            </picture>
            <div class="product">
                <div class="envio-icon">
                <i class="fa-solid fa-truck-fast"></i>
            </div>
            <h4>$6.770</h5>
            <h5>40% OFF</h5>
            <h6>Cafetera Moulinex</h6>
               </div>
        </article>
    </div>

        <div class="article-container">
        <article class="macbook-off">
            <picture>
                <img width="300px" height="300px" src="images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
            </picture>
            <div class="product">
            <div class="envio-icon">
                <i class="fa-solid fa-truck-fast"></i>
               </div>
            <h4>$230.000</h4>
            <h5>20% OFF</h5>
            <h6>Mackbook Pro 2019</h6>
            </div>
        </article>
    </div>

    
        <div class="article-container">
        <article class="samsung-off">
            <picture>
                <img width="300px" height="300px" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
            </picture>
            <div class="product">
            <div class="envio-icon">
                <i class="fa-solid fa-truck-fast"></i>
               </div>
            <h4>$70.500</h4>
            <h5>10% OFF</h5>
            <h6>Samsung Galaxy s10</h6>
             </div>
        </article>
    </div>
    
        <div class="article-container">
        <article class="smart-off">
            <picture>
                <img width="300px" height="300px" src="images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung">
            </picture>
            <div class="product">
            <div class="envio-icon">
                <i class="fa-solid fa-truck-fast"></i>
               </div>
            <h4>$23.200</h4>
            <h5>5% OFF</h5>
            <h6>Smart TV Samsung 43"</h6>
               </div>
        </article>
    </div>
    </section>
</main>

<footer>
    <section class="footer-section">
        <article class="MediosPagos">
            <div class="card-icon">
            <i class="fa-solid fa-credit-card"></i>
        </div>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article class="EnvioGratis">
            <div class="gift-icon">
            <i class="fa-solid fa-gift"></i>
        </div>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </article>   
            
        <article class="seguridad">
          <div class="security-icon">
            <i class="fa-solid fa-user-shield"></i>
          </div>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        
        <article class="copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>
    </section>
</footer>
</body>
</html>