footer{
    background-color: #181818;
    margin-top: 2rem;
}
footer picture{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 12rem;
}

#redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem; 
}
.red a{
    text-decoration: none;
    color: #e4e4e4;
    font-size: 2rem;
}

#terminos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
    color: #e4e4e4;
}

#fin-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
    color: #e4e4e4;
    flex-direction: column;
    margin: 0px 1rem;
    padding-bottom: 0.5rem;
}

#derechos{
    color: #e4e4e4;
    font-size: 14px;
    opacity: 0.5;
}