header{
  position: fixed;
  background: transparent;;
  width: 100%;
  z-index: 2;
}
.header.active{
  background-color: #181818d8;
  transition: all 1s;
}
.img-logo{
  width: 4rem;
  position: absolute;
  left: 1rem;
  top: 0.3rem;
}
.img-logo img{
  width: 100%;
}
  
/* estilos menu hamburguesa */
.btn-container{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#btn{
  background: transparent;
  
  width: 100%;
  height: 50px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
  border: none;
  cursor: pointer;

  transition: .5s;
  padding-right: 1rem;
}

.btn-content:nth-child(1){
  margin: 1px;  
  height: 3px;
  width: 30px;
  transition: .5s;
  border-top: 2px solid #fafafa;
  position: relative;
}
.btn-content:nth-child(2){
  margin: 1px;  
  height: 3px;
  width: 30px;
  transition: .5s;
  border-top: 2px solid #fafafa;
}
.btn-content:nth-child(3){
  margin: 1px;  
  height: 3px;
  width: 30px;
  transition: .5s;
  border-top: 2px solid #fafafa;
  position: relative;
}

#btn.active{
  background-color: #181818;
}

#btn.active .btn-content:nth-child(1){
  transform: rotate(135deg);
  top: 3px;
}

#btn.active .btn-content:nth-child(2){
  border-top: transparent;
}
#btn.active .btn-content:nth-child(3){
  transform: rotate(-135deg);
  top: -7px;
}

/*2*/
#mobile-nav{
  font-size: 3rem;
  position: fixed;
    top: 5vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1rem;
    align-content: center;
    background-color: #181818;
    color: #fafafa;
    z-index: 2;
    transition: all 0.3s ease-out;
    transform: translateX(200%);
  }#mobile-nav.active{
  transform: translateX(0);
  transition: all 0.5s ease-out;
}#mobile-nav img{
  position: fixed;  
  top: 0;
}#mobile-nav a{
  color: #fafafa;
}
#logo-container{
  position: relative;
}

/*lista cervezas*/
#menu-cervezas{
  display: flex;
  flex-direction: column;
}
.cervezas-lista{
  font-size: 1.5rem;
}
.abrir-caja{
  display: none;
  height: 0;
}

[id^=btn-cervezas]:checked + .abrir-caja{
  display: block;
  height: 16rem;
  transition: all 1s;
}

.button-cervezas i{
  font-size: 2rem;
  padding-left: 1rem;
}

#btn-cervezas{
  display: none;
}
/*termina*/

/* fin estilos menu hamburguesa */
#imagen-cacha{
  width: 100%;
}
