*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border: none;

}

/*header*/

.logo{
    padding: 0.600rem;
    display: inline-block;
    width: 30vw;
}

.banner{
    display: flex;
    width: 100%;

}

.menus a{ 
    display: block;
    color: black;
    text-decoration: none;
    font-size: 0.75rem;
    margin-right: 200px; 
}

.miCuenta a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 0.75rem;
    margin-right: 200px; 
}

.banner img{
    flex-grow: 1;
    max-width: 100%;
}

.eslogan{
    display: inline-block;
    width: 100%;
}
.eslogan h2{
    font-size: 200%;
}

body header{
    background-color: #EAC926;
    background-size: cover;
}

#lupa{
    display: inline-block;
    background-color: beige;
    color: black;
}

.barra-busqueda{
    display: inline-block;
    font-size: 12px;
}

.barra-busqueda input{
    margin-left: 10%;
}

.barraDesplegable{
    background-color: #1259c3;
    color: white;
    display: inline-block;
    margin-left: 50%;
    border: 0.320rem solid #1259c3;
    border-radius: 0.320rem;
}



#cuotasetc{
    text-align: center;
    font-size: 12px;
}

.menus{
    margin-top: 3%;
    padding-left: 3%;
    width: 100%;
}

.miCuenta{
    margin-top: 5%;
    display: block;
    padding-left: 3%;
    width: 100%;
}

/*main*/

main {
    text-align: center;
    padding: 0.625rem;
    background-color: #ebebeb;
}

li{
    list-style-type: none;
}

.envio-icon i{
    text-align: center;
    font-size: 1rem;
    color: #69B220;
}
.envio-icon{
    margin-top: 3%;
    width: 10%;
    border: 0.15rem solid #69B220 ;
    border-radius: 50%;
}

h5{
    font-size: 18px;
}
h4{
    font-size: 16px;
}

h1{
    font-size: 16px;
}

.product{
    border-top: solid #ebebeb;
    display: block;
}

.product h6{
    color:grey;
    font-style: normal;
    display: flex;
}
.product h4{
    color: #404040;
    font-style: normal;
    width: 10%;
}
.product h5{
    font-style: normal;
    font-size: 12px;
    color: #69B220;
    margin-right: 80%;
    width: 16%;
}

#ultimaVista{
    font-size: 1.5rem;
}

#ofertas {
    font-size: 1.5rem;
}

/* ultimaVista-section */
.caf{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}



.macbook-pro-2019{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}

.samsung-galaxy{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}

.smart-tv-samsung{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}

/*offers-section*/

.cafetera-off{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}

.macbook-off{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}

.samsung-off{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}

.smart-off{
    background-color: white;
    border-top: 0.063rem solid #ebebeb;
    margin: 0.625rem;
    padding: 0.928rem;
}

/* footer */

footer{
    text-align: center;
    padding: 0.625rem;
    border: 0.100rem solid transparent;
}

.footer-section p{
    font-size: 16px;
}

.card-icon{
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px ;
    color: #1259c3;
}

.gift-icon{
        border-top:  solid #ebebeb;
        text-align: center;
        font-size: 2em;
        margin-bottom: 10px ;
        color: #1259c3;
}

.seguridad{
    margin-top: 3%;
}

.security-icon{
    border-top:  solid #ebebeb;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px ;
    color: #1259c3;
}

.copyright h5{
    margin-top: 5%;
    margin-right: 30%;
    font-size: 12px; 
}


/* @MEDIA */

@media (min-width: 320px) and (max-width: 768px) {
    .product h6 {
        display: none;
    }
}

@media (min-width: 361px)  {
    .article-container {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width:0px) and (max-width: 360px) {
    .menus{
        display: none;
    }

    .miCuenta{
        display: none;
    }
}

@media (min-width:361px) {
    .barraDesplegable {
        display: none;
    }
}