<head>
        <%- include('./partials/head.ejs') %> 
        <link rel="stylesheet" href="/css/a-IPA.css">
</head>

<body>
        <%- include('./partials/header.ejs') %>
<main>
<!-- empieza carrusel -->
<div id="container-slider" class="slider-cervezas">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="images/cacha1.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="images/cacha2.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="images/cacha3.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="images/cacha4.png" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
    </div>
    <section id="descripcion">
        <h1 id="titulo">AMERICAN IPA</h2>
        <h2 class="subtitulo">¡Animal de Birra!</h2>
        <p class="parrafo">Nuestra American IPA es una cerveza de intenso aroma, una alta fermentación y gran aporte de lúpulo, lo que proporciona mayor amargor. Color algo pálido y anaranjado, similar al ambar</p>
    </section>
    <section id="info">
        <div>
            <p>AMARGOR <p>41,3 </p></p>
        </div>
        <div>
            <p>SRM 8,5</p>
        </div>
        <div>
            <p>ALCOHOL 5,9%</p>
        </div>
    </section>
</div>

 <!-- termina carrusel -->
</main>

<%- include('./partials/footer.ejs') %>
<script src="js/header.js"></script>
<script src="js/hamburguer.js"></script>
<script src="js/mobile-nav.js"></script>
<script src="js/carrusel.js"></script>
</body>