<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/all-beers.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main id="main-all-beers">
        
        <h1 id="titulo-beers">Cervezas Cachalote</h1>
        
        <div class="container-hashtag">
        <article class="h-animaldebirrra">
            <i class="fa-solid fa-hashtag"></i>
            AnimalDeBirra
        </article>
    </div>

<section id="container-all">
    

        <article class="article-container">
            <picture class="container-image">
                <a href="/americanIPA">
                <img src="/images/a-ipa/american4.png" alt="">
            </picture>
            <div class="container-button">
                <a id="a-ipa" href="/americanIPA">American IPA</a>
            </div>
        </article>

    
        <article class="article-container">
            <picture class="container-image">
                <a href="/goldenALE">
                <img src="/images/golden/golden4.png" alt="">
            </a>
            </picture>
            <div class="container-button">
                <a id="golden" href="/goldenALE">GOLDEN ALE</a>
            </div>
        </article>

    
        <article class="article-container">
            <picture class="container-image">
                <a href="/porter">
                <img src="/images/porter/porter2.png" alt="">
            </a>
            </picture>
            <div class="container-button">
                <a id="porter" href="/porter">porter</a>
            </div>
        </article>
  

    
        <article class="article-container">
            <picture class="container-image">
                <a href="/sessionIPA">
                <img src="/images/s-ipa/s-ipa3.png" alt="">
            </a>
            </picture>
            <div class="container-button">
                <a id="s-ipa" href="/sessionIPA">SESSION IPA</a>
            </div>
        </article>
   

    
        <article class="article-container">
            <picture class="container-image">
                <a href="/AAA">
                <img src="/images/aaa/aaa3.png" alt="">
            </a>
            </picture>
            <div class="container-button">
                <a id="aaa" href="/AAA">AMERICAN AMBER ALE</a>
            </div>
        </article>

    
        <article class="article-container">
            <picture class="container-image">
                <a href="/scottishExport">
                <img src="/images/scottish/sco3.png" alt="">
            </a>
            </picture>
            <div class="container-button">
                <a id="scottish" href="/scottishExport">SCOTTISH EXPORT</a>
            </div>
        </article>

    
        <article class="article-container">
            <picture class="container-image">
                <a href="/honey">
                <img src="/images/honey/honey4.png" alt="">
            </a>
            </picture>
            <div class="container-button">
                <a id="honey" href="/honey">HONEY</a>
            </div>
        </article>
    
        <article class="article-container">
            <picture class="container-image">
                <a href="/doradaPampeana">
                <img src="/images/dorada/dorada2.png" alt="">
            </a>
            </picture>
            <div class="container-button">
                <a id="dorada" href="/doradaPampeana">DORADA PAMPEANA</a>
            </div>
        </article>

</section>
    </main>
    <%- include('./partials/footer.ejs') %>
<script src="js/header.js"></script>
<script src="js/hamburguer.js"></script>
<script src="js/mobile-nav.js"></script>
<script src="js/carrusel.js"></script>
</body>