<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/dorada.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
<main>
<!-- empieza carrusel -->
<div id="container-slider" class="slider-cervezas">
<div class="slider" id="slider">
    <div class="slider__section">
        <img src="images/dorada/dorada1.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/dorada/dorada2.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/dorada/dorada3.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/dorada/dorada4.png" alt="" class="slider__img">
    </div>
</div>
<div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
<div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
</div>
<!-- termina carrusel -->
<section id="descripcion">
    <h1 id="titulo">DORADA PAMPEANA</h2>
    <h2 class="subtitulo">¡Animal de Birra!</h2>
    <p class="parrafo">Nuestra Estilo Argentino. Rubia de
        alta fermentación y baja graduación alcohólica.
        Con malta pálida.
        De cuerpo liviano y
        gran tomabilidad.</p>
</section>
<section id="info">
    <div class="info-container border">
        <p>AMARGOR <p class="numeros-info">15,2 </p></p>
    </div>
    <div class="info-container border">
        <p>SRM <p class="numeros-info">3,3</p></p>
    </div>
    <div class="info-container">
        <p>ALCOHOL <p class="numeros-info">4,13%</p></p>
    </div>
</section>
</main>

<%- include('./partials/footer.ejs') %>
<script src="js/header.js"></script>
<script src="js/hamburguer.js"></script>
<script src="js/mobile-nav.js"></script>
<script src="js/carrusel.js"></script>
</body>