<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
    <!-- empieza carrusel -->
 <div id="container-slider">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="images/carrusel-image2.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="images/cacha2.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="images/carrusel-image1.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="images/carrusel-image3.png" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60&#60</div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62&#62</div>
    </div>
</div>
 <!-- termina carrusel -->

 <section id="info-empresa">
    <i class="fa-sharp fa-solid fa-quote-left"></i>
    <p>Trabajando para hacerte llegar la mejor cerveza!
        Hijos de la costa argentina.</p>
    <p>Somos</p> 
     <article class="h-cachalote"><i class="fa-solid fa-hashtag"></i>Cachalote</article><article class="h-animaldebirrra"><i class="fa-solid fa-hashtag"></i>AnimalDeBirra</article>
 </section>
 <picture id="picture-final-home"> 
    <img src="/images/scottish/sco1.png" alt="">
 </picture>
 <button id="container-boton-todas">
    <a id="button-all-cervezas" href="/NuestrasCervezas">Nuestras Cervezas</a>
</button>
</main>
 <%- include('./partials/footer.ejs') %>
 <script src="js/header.js"></script>
<script src="js/hamburguer.js"></script>
<script src="js/mobile-nav.js"></script>
<script src="js/carrusel.js"></script>
</body>
</html>