<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/honey.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
<main>
<!-- empieza carrusel -->
<div id="container-slider" class="slider-cervezas">
<div class="slider" id="slider">
    <div class="slider__section">
        <img src="images/honey/honey4.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/honey/honey1.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/honey/honey3.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/honey/honey2.png" alt="" class="slider__img">
    </div>
</div>
<div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
<div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
</div>
<section id="descripcion">
    <h1 id="titulo">honey</h2>
    <h2 class="subtitulo">¡Animal de Birra!</h2>
    <p class="parrafo">Nuestra HONEY es una Cerveza Ale de color bronce que
        incorpora la miel en su proceso
        de elaboración, lo cual además de
        brindar el sabor característico
        hace de ésta una cerveza
        de contenido
        alcohólico por sobre la media.</p>
</section>
<section id="info">
    <div class="info-container border">
        <p>AMARGOR <p class="numeros-info">18,1 IBU</p></p>
    </div>
    <div class="info-container border">
        <p>SRM <p class="numeros-info">8,5</p></p>
    </div>
    <div class="info-container">
        <p>ALCOHOL <p class="numeros-info">6,1%</p></p>
    </div>
</section>

<!-- termina carrusel -->
</main>

<%- include('./partials/footer.ejs') %>
<script src="js/header.js"></script>
<script src="js/hamburguer.js"></script>
<script src="js/mobile-nav.js"></script>
<script src="js/carrusel.js"></script>
</body>