<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('./partials/head.ejs') %>  
 <link rel="stylesheet" href="css/paginaEnConstruccion.css">
</head>
<body>
	
	<div class="portada" id="portada">
		<div class="header">
            
			<h1 class="logotipo">Cervezas Cachalote</h1>
			<p class="mensaje">Página en construcción</p>
		</div>

		<div id="cuenta"></div>

		<div class="redes-sociales">
			<a href="https://www.facebook.com/cachalotecerveza" class="btn-red-social"><i class="fa-brands fa-facebook-f"></i></a>
			<a href="https://api.whatsapp.com/send?phone=543764746323" class="btn-red-social"><i class="fab fa-whatsapp"></i></a>
			<a href="https://www.instagram.com/cachalotecerveza/" class="btn-red-social"><i class="fab fa-instagram"></i></a>
		</div>
        <a class="button" href="/">volver al inicio</a>

        <article class="h-animaldebirrra"><i class="fa-solid fa-hashtag"></i>AnimalDeBirra</article>
	</div>

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="../js/simplyCountdown.min.js"></script>
	<script src="../js/countdown.js"></script>
</body>
</html>