<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/porter.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
<main>
<!-- empieza carrusel -->
<div id="container-slider" class="slider-cervezas">
<div class="slider" id="slider">
    <div class="slider__section">
        <img src="images/porter/porter1.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/porter/porter2.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/porter/porter3.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/porter/porter4.png" alt="" class="slider__img">
    </div>
</div>
<div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
<div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
</div>
<section id="descripcion">
    <h1 id="titulo">porter</h1>
    <h2 class="subtitulo">¡Animal de Birra!</h2>
    <p class="parrafo">NUESTRA PORTER Estilo clásico inglés
        característico por su
        color oscuro,
        con notas de café
        y leves tostados.
        Cuerpo medio,
        y bajo amargor.</p>
</section>
<section id="info">
    <div class="info-container border">
        <p>AMARGOR <p class="numeros-info">24,8 IBU</p></p>
    </div>
    <div class="info-container border">
        <p>SRM <p class="numeros-info">28,8</p>
    </div>
    <div class="info-container">
        <p>ALCOHOL <p class="numeros-info">4,9%</p></p>
    </div>
</section>
<section class="medallero">
    <p>MEDALLERO</p>
    <picture class="medallas">
        <img src="/images/porter/medalla-porter-plata.png" alt="">
        <img src="/images/porter/medalla-porter-oro1.png" alt="">
        <img src="/images/porter/medalla-porter-bronce.png" alt="">
    </picture>
</section>

</div>

<!-- termina carrusel -->
</main>

<%- include('./partials/footer.ejs') %>
<script src="js/header.js"></script>
<script src="js/hamburguer.js"></script>
<script src="js/mobile-nav.js"></script>
<script src="js/carrusel.js"></script>
</body>