<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/scottish.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
<main>
<!-- empieza carrusel -->
<div id="container-slider" class="slider-cervezas">
<div class="slider" id="slider">
    <div class="slider__section">
        <img src="images/scottish/sco1.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/scottish/sco2.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/scottish/sco3.png" alt="" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="images/scottish/sco4.png" alt="" class="slider__img">
    </div>
</div>
<div class="slider__btn slider__btn--left" id="btn-left">&#60</div>
<div class="slider__btn slider__btn--right" id="btn-right">&#62</div>
</div>
<section id="descripcion">
    <h1 id="titulo">SCOTTISH EXPORT</h1>
    <h2 class="subtitulo">¡Animal de Birra!</h2>
    <p class="parrafo">NUESTRA SCOTTISH ES UNA Cerveza de perfil maltoso,
        aportado por las maltas
        caramelo usadas, y una baja adición de lúpulo para
        balancear los sabores.</p>
</section>
<section id="info">
    <div class="info-container border">
        <p>AMARGOR <p class="numeros-info">41,3 </p></p>
    </div>
    <div class="info-container border">
        <p>SRM <p class="numeros-info">8,5</p></p>
    </div>
    <div class="info-container">
        <p>ALCOHOL <p class="numeros-info">5,9%</p></p>
    </div>
</section>
<section class="medallero">
    <p>MEDALLERO</p>
    <picture class="medallas">
        <img src="/images/scottish/medalla-sco-oro.png" alt="">
        <img src="/images/scottish/medalla-sco-oro2.png" alt="">
    </picture>
</section>

</div>

<!-- termina carrusel -->
</main>

<%- include('./partials/footer.ejs') %>
<script src="js/header.js"></script>
<script src="js/hamburguer.js"></script>
<script src="js/mobile-nav.js"></script>
<script src="js/carrusel.js"></script>
</body>