<footer>
    <picture>
        <img src="images/logo.png" alt="">
    </picture>
    
    <ul id="redes">
        <li class="red"><a href="https://www.instagram.com/cachalotecerveza/" class="fa-brands fa-instagram"></a></li>
        <li class="red"><a href="https://www.facebook.com/cachalotecerveza" class="fa-brands fa-facebook-f"></a></li>
       
    </ul>
    <section id="terminos">
        <p>Términos y Condiciones</p>
        <p>Políticas de Privacidad</p>
        <p>Consumo Responsable</p>
    </section>
    <section id="fin-c">
        <p>Beber con moderación. Prohibida su venta a menores de 18 años. No compartir este contenido con menores.</p>
        <p>© Cachalote Cervezas.</p>
        <p id="derechos">Todos los derechos reservados.</p>
    </section>
</footer>
