<header class="header">
  <picture class="img-logo">
    <a href="/"><img src="/images/cachalote-logo.png" alt=""></a>
  </picture>
  
  <!-- menu hamburguesa empieza -->
   <button id="btn">
    <div class="btn-content"></div>
    <div class="btn-content"></div>
    <div class="btn-content"></div>
  </button>
  <nav id="mobile-nav">
    <a href="/">Inicio</a>
    <ul id="menu-cervezas">
      <label for="btn-cervezas" class="button-cervezas">CERVEZAS<i class="fa-sharp fa-solid fa-arrow-down"></i></label>
      <input type="checkbox" id="btn-cervezas">
      <div class="abrir-caja">
      <li class="cervezas-lista"><a href="/americanIPA">AMERICAN IPA</a></li>
      <li class="cervezas-lista"><a href="/goldenALE">GOLDEN ALE</a></li>
      <li class="cervezas-lista"><a href="/porter">PORTER</a></li>
      <li class="cervezas-lista"><a href="/sessionIPA">SESSION IPA</a></li>
      <li class="cervezas-lista"><a href="/AAA">AAA</a></li>
      <li class="cervezas-lista"><a href="/scottishExport">SCOTTISH EXPORT</a></li>
      <li class="cervezas-lista"><a href="/honey">HONEY</a></li>
      <li class="cervezas-lista"><a href="/doradaPampeana">DORADA PAMPEANA</a></li>
    </div>
    </ul>
    <a href="https://www.dundalk.com.ar/productos/cerveza-artesanal-cachalote-lata-500cc/">comprar</a>
    <a href="/sobre-nosotros">about us</a>
  </nav>
  <!-- menu hamburguesa termina -->
  

</header>