<header class="header">
   <!-- menu hamburguesa empieza -->
   <button id="btn">
    <div class="btn-content"></div>
    <div class="btn-content"></div>
    <div class="btn-content"></div>
  </button>
  <nav id="mobile-nav">
    <a id="logo-container"href="#"><img src="/images/logo.png" alt=""></a>
    <a href="#">Novedades</a>
    <ul id="menu-cervezas">
    <li id="desplegable"><a href="#">cervezas <i class="fa-solid fa-arrow-down"></i></a></li>
      <div id="despliegue">
      <li class="a"><a href="#">AMERICAN IPA</a></li>
      <li class="a"><a href="#">GOLDEN ALE</a></li>
      <li class="a"><a href="#">PORTER</a></li>
      <li class="a"><a href="#">SESSION IPA</a></li>
      <li class="a"><a href="#">AAA</a></li>
      <li class="a"><a href="#">SCOTTISH EXPORT</a></li>
      <li class="a"><a href="#">HONEY</a></li>
      <li class="a"><a href="#">DORADA PAMPEANA</a></li>
      </div>
    </ul>
    <a href="#">comprar</a>
    <a href="#">about us</a>
  </nav>
  <!-- menu hamburguesa termina -->
  

</header>